# No mostramos los ficheros
Options -Indexes

# Determinamos que el fichero principal es el index.php
DirectoryIndex src/index.php

# Configuramos que siempre que entremos en esta carpeta, siempre se ejecute el index.php
# Además, en el caso de que se intenten capturar archivos físicos o directorios, estarán disponibles
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^.*$ src/index.php [L,QSA]

# Página personalizada para errores 404
ErrorDocument 404 /apache/errors/404.html

# Página personalizada para errores 403
ErrorDocument 403 /apache/errors/403.html

# Página personalizada para errores 500
ErrorDocument 500 /apache/errors/500.html