:root {
  --font-heading: 'Nunito', sans-serif;
  --font-body: 'Open Sans', sans-serif;
  
  --color-text: #333333;
  --color-bg: #f9f9f9;
  --color-buttons: #5e57ea;
  --color-buttons-hover: #4840e6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: var( --font-body ) !important;
  background-color: var( --color-bg ) !important;
  color: var( --color-text ) !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var( --font-heading );
}

#hero-photo {
  height: 100%;
}

.overlay-bg {
  background: rgba(255, 255, 255, .8);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border-radius: 1.5rem;
}

.hero-section {
  position: relative;
  min-height: 100vh;
  height: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.apple-button {
  border-radius: 0.5rem;
  color: white;
  padding: 0.50rem 1.5rem;
  background-color: var( --color-buttons );
  width: fit-content;
  transition: all .3s;
}

.apple-button:hover {
  background-color: var( --color-buttons-hover );
}

.apple-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.apple-button-secondary {
  border-radius: 0.5rem;
  padding: 0.5rem 1.5rem;
  width: fit-content;
  color: var( --color-buttons );
  border: 0.15rem var( --color-buttons ) solid;
}

.apple-button-secondary:hover {
  background: var( --color-buttons-hover );
  color: white; 
}

.apple-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  cursor: pointer;
  
  width: 24rem;
  height: 42rem;
  padding: 1.5rem;
  border-radius: 1.5rem;
  color: white;

  background-size: cover;
  background-position: center;
  scroll-snap-align: start;

  z-index: 1000;
}

@media (max-width: 1024px) {
  .apple-card {
    width: 21rem;
  }
}

.robot-icon {
  z-index: 25;
}

.robot-icon.right {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: rotate(-30deg) translateX(25px) translateY(50px);
}

.robot-icon.left {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: rotate(30deg) translateX(-25px) translateY(50px);
}

.card-img-left {
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.card-img-right {
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

@media screen and ( max-width: 768px ) {
  .robot-icon {
    display: none;
  }

  .card-img-left, .card-img-right {
    border-radius: 0 0 1rem 1rem;
  }

  .card-left, .card-right {
    border-radius: 1rem 1rem 0 0 !important;
  }
}

.card {
  background: #f2f2fa;
  padding: 1.5rem 2rem;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.card-right {
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.card-left {
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.apple-card-snap {
  padding: 0.55rem;
  background-color: #333336;
}

.apple-snap {
  padding: 0;
  background-color: #dedee2;
}

.apple-card-snap, .apple-snap {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.apple-card-snap:hover svg {
  fill: #fff;
}

.apple-snap:hover {
  background-color: #e6e6e6;
}

section {
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
}