@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://kodalogic.polarik.com/k/apps/kodalogic/assets/fonts/inter-webfont/Inter-Regular.woff) format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://kodalogic.polarik.com/k/apps/kodalogic/assets/fonts/inter-webfont/Inter-Light.woff) format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://kodalogic.polarik.com/k/apps/kodalogic/assets/fonts/inter-webfont/Inter-SemiBold.woff) format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://kodalogic.polarik.com/k/apps/kodalogic/assets/fonts/inter-webfont/Inter-Bold.woff) format("woff");
}

.inter-regular {
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

.inter-italic {
  font-family: "Inter", sans-serif;
  font-style: italic;
  font-weight: 400;
}

.inter-light {
  font-family: "Inter", sans-serif;
  font-weight: 300;
}

.inter-semibold {
  font-family: "Inter", sans-serif;
  font-weight: 600;
}

.inter-bold {
  font-family: "Inter", sans-serif;
  font-weight: 700;
}
@font-face {
  font-family: "Lufga Regular";
  font-style: normal;
  font-weight: 400;
  src: url(https://kodalogic.polarik.com/k/apps/kodalogic/assets/fonts/lufga-webfont/LufgaRegular.woff) format("woff");
}

@font-face {
  font-family: "Lufga Italic";
  font-style: normal;
  font-weight: 400;
  src: url(https://kodalogic.polarik.com/k/apps/kodalogic/assets/fonts/lufga-webfont/LufgaItalic.woff) format("woff");
}

@font-face {
  font-family: "Lufga Bold";
  font-style: normal;
  font-weight: 400;
  src: url(https://kodalogic.polarik.com/k/apps/kodalogic/assets/fonts/lufga-webfont/LufgaBold.woff) format("woff");
}

@font-face {
  font-family: "Lufga ExtraBold";
  font-style: normal;
  font-weight: 400;
  src: url(https://kodalogic.polarik.com/k/apps/kodalogic/assets/fonts/lufga-webfont/LufgaExtraBold.woff) format("woff");
}

@font-face {
  font-family: "Lufga Black";
  font-style: normal;
  font-weight: 400;
  src: url(https://kodalogic.polarik.com/k/apps/kodalogic/assets/fonts/lufga-webfont/LufgaBlack.woff) format("woff");
}

@font-face {
  font-family: "Lufga Semibold";
  font-style: normal;
  font-weight: 400;
  src: url(https://kodalogic.polarik.com/k/apps/kodalogic/assets/fonts/lufga-webfont/LufgaSemibold.woff) format("woff");
}

@font-face {
  font-family: "Lufga Medium";
  font-style: normal;
  font-weight: 400;
  src: url(https://kodalogic.polarik.com/k/apps/kodalogic/assets/fonts/lufga-webfont/LufgaMedium.woff) format("woff");
}

@font-face {
  font-family: "Lufga Light";
  font-style: normal;
  font-weight: 400;
  src: url(https://kodalogic.polarik.com/k/apps/kodalogic/assets/fonts/lufga-webfont/LufgaLight.woff) format("woff");
}

@font-face {
  font-family: "Lufga Thin";
  font-style: normal;
  font-weight: 400;
  src: url(https://kodalogic.polarik.com/k/apps/kodalogic/assets/fonts/lufga-webfont/LufgaThin.woff) format("woff");
}

html,
body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body-text {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.7;
}

.title,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  margin: 0;
}

.h1,
h1 {
  font-size: 32px;
  line-height: 1.2;
}

.h2,
h2 {
  font-size: 24px;
  line-height: 1.3;
}

.h3,
h3 {
  font-size: 20px;
  line-height: 1.4;
}

.lufga-regular {
  font-family: "Lufga Regular", sans-serif;
  font-weight: 400;
}

.lufga-bold {
  font-family: "Lufga Bold", sans-serif;
  font-weight: 400;
}

.lufga-extrabold {
  font-family: "Lufga ExtraBold", sans-serif;
  font-weight: 400;
}

.lufga-black {
  font-family: "Lufga Black", sans-serif;
  font-weight: 400;
}

.lufga-semibold {
  font-family: "Lufga Semibold", sans-serif;
  font-weight: 400;
}

.lufga-medium {
  font-family: "Lufga Medium", sans-serif;
  font-weight: 400;
}

.lufga-light {
  font-family: "Lufga Light", sans-serif;
  font-weight: 400;
}

.lufga-thin {
  font-family: "Lufga Thin", sans-serif;
  font-weight: 400;
}

.main-title {
  font-size: 2.5rem;
  line-height: 1.1;
}
@media (min-width: 640px) {
  .main-title {
      font-size: 3.5rem;
      line-height: 1.1;
  }
}
@media (min-width: 1024px) {
  .main-title {
      font-size: 2.5rem;
      line-height: 1.1;
  }
}
@media (min-width: 1280px) {
  .main-title {
      font-size: 3.5rem;
      line-height: 1.1;
  }
}

.huge-title {
  font-size: 2.5rem;
  line-height: 3rem;
}
@media (min-width: 640px) {
  .huge-title {
      font-size: 2.5rem;
      line-height: 3rem;
  }
}
@media (min-width: 1024px) {
  .huge-title {
      font-size: 2.5rem;
      line-height: 3rem;
  }
}

.large-title {
  font-size: 2rem;
  line-height: 2rem;
}
@media (min-width: 640px) {
  .large-title {
      font-size: 2rem;
      line-height: 2rem;
  }
}
@media (min-width: 1024px) {
  .large-title {
      font-size: 2rem;
      line-height: 2rem;
  }
}

.medium-title {
  font-size: 1.625rem;
  line-height: 2rem;
}
@media (min-width: 640px) {
  .medium-title {
      font-size: 1.625rem;
      line-height: 2rem;
  }
}
@media (min-width: 1024px) {
  .medium-title {
      font-size: 1.625rem;
      line-height: 2rem;
  }
}

.subtitle {
  font-size: 1.375rem;
  line-height: 2rem;
}
@media (min-width: 640px) {
  .subtitle {
      font-size: 1.375rem;
      line-height: 2rem;
  }
}
@media (min-width: 1024px) {
  .subtitle {
      font-size: 1.375rem;
      line-height: 2rem;
  }
}

.small-title {
  font-size: 1.25rem;
  line-height: 2rem;
}
@media (min-width: 640px) {
  .small-title {
      font-size: 1.25rem;
      line-height: 2rem;
  }
}
@media (min-width: 1024px) {
  .small-title {
      font-size: 1.25rem;
      line-height: 2rem;
  }
}

.body-text {
  font-size: 1rem;
  line-height: 1.7rem;
}
@media (min-width: 640px) {
  .body-text {
      font-size: 1rem;
      line-height: 1.7rem;
  }
}
@media (min-width: 1024px) {
  .body-text {
      font-size: 1rem;
      line-height: 1.7rem;
  }
}

/* VARIABLES > REM
======================================================================================================================
Son las medidas en pí­xeles con su correspondiente valor en rem                                                      */

:root {
  
  /* Valores del 1 al 100 */
  --1px:.0625rem;--2px:.125rem;--3px:.1875rem;--4px:.250rem;--5px:.3125rem;--6px:.375rem;--7px:.4375rem;--8px:.5rem;--9px:.5625rem;--10px:.625rem;--11px:.6875rem;--12px:.750rem;--13px:.8125rem;--14px:.875rem;--15px:.9375rem;--16px:1rem;--17px:1.0625rem;--18px:1.125rem;--19px:1.1875rem;--20px:1.250rem;--21px:1.3125rem;--22px:1.375rem;--23px:1.4375rem;--24px:1.500rem;--25px:1.5625rem;--26px:1.625rem;--27px:1.6875rem;--28px:1.750rem;--29px:1.8125rem;--30px:1.875rem;--31px:1.9375rem;--32px:2rem;--33px:2.0625rem;--34px:2.125rem;--35px:2.1875rem;--36px:2.250rem;--37px:2.3125rem;--38px:2.375rem;--39px:2.4375rem;--40px:2.500rem;--41px:2.5625rem;--42px:2.625rem;--43px:2.6875rem;--44px:2.750rem;--45px:2.8125rem;--46px:2.875rem;--47px:2.9375rem;--48px:3rem;--49px:3.0625rem;--50px:3.125rem;--51px:3.1875rem;--52px:3.250rem;--53px:3.3125rem;--54px:3.375rem;--55px:3.4375rem;--56px:3.500rem;--57px:3.5625rem;--58px:3.625rem;--59px:3.6875rem;--60px:3.750rem;--61px:3.8125rem;--62px:3.875rem;--63px:3.9375rem;--64px:4rem;--65px:4.0625rem;--66px:4.125rem;--67px:4.1875rem;--68px:4.250rem;--69px:4.3125rem;--70px:4.375rem;--71px:4.4375rem;--72px:4.500rem;--73px:4.5625rem;--74px:4.625rem;--75px:4.6875rem;--76px:4.750rem;--77px:4.8125rem;--78px:4.875rem;--79px:4.9375rem;--80px:5rem;--81px:5.0625rem;--82px:5.125rem;--83px:5.1875rem;--84px:5.250rem;--85px:5.3125rem;--86px:5.375rem;--87px:5.4375rem;--88px:5.500rem;--89px:5.5625rem;--90px:5.625rem;--91px:5.6875rem;--92px:5.750rem;--93px:5.8125rem;--94px:5.875rem;--95px:5.9375rem;--96px:6rem;--97px:6.0625rem;--98px:6.125rem;--99px:6.1875rem;--100px:6.250rem;
  --font-size: 1.500rem;
}

/* VARIABLES > TIPOGRAFÍA
======================================================================================================================
Definición de las variables tipográficas                                                                            */

:root {
  --font-general: "Manager";
  --font-icons  : "Material Symbols Outlined";
  --col-blue    : "#3b82f6";
  --col-green   : "#10b981";
  --col-blue2   : "#06b6d4";
  --col-orange  : "#f97316";
  --col-purple  : "#6366f1";
  --col-green2  : "#84cc16";
}

.text-blue    { color: var(--col-blue) !important;   } .bg-blue   { background-color: var(--col-blue) !important;   }
.text-green   { color: var(--col-green) !important;  } .bg-green  { background-color: var(--col-green) !important;  }
.text-blue2   { color: var(--col-blue2) !important;  } .bg-blue2  { background-color: var(--col-blue2) !important;  }
.text-orange  { color: var(--col-orange) !important; } .bg-orange { background-color: var(--col-orange) !important; }
.text-purple  { color: var(--col-purple) !important; } .bg-purple { background-color: var(--col-purple) !important; }
.text-green2  { color: var(--col-green2) !important; } .bg-green2 { background-color: var(--col-green2) !important; }

.icon {
  font-family: var(--font-icons);
  font-weight: 300;
  font-style: normal;
  font-size: var(--font-size) !important;
  line-height: 0.9;
  letter-spacing: normal;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

#calendar-dashboard {
  width: 90vw;
  max-width: 67vw;
  height: 45vh;
  max-height: 80vh;
  font-size: 1rem;
  overflow: hidden;
}

@media (max-width: 1024px) {
  #calendar-dashboard {
    width: 80vw;
    max-width: none;
    font-size: 0.9rem;
  }
}

@media (max-width: 768px) {
  #calendar-dashboard {
    width: 90vw;
    font-size: 0.85rem;
  }
}

@media (max-width: 480px) {
  #calendar-dashboard {
    width: 100%;
    min-height: 30vh;
    font-size: 0.8rem;
  }
}

.scrollbar-none {
  -ms-overflow-style: none; /* IE y Edge antiguos */
  scrollbar-width: none;    /* Firefox */
}

.scrollbar-none::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.shadow-landing {
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
}

.prev-btn, .next-btn {
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;  
}

.prev-btn {
  background-color: #6b7280;
  color: white;
}

.next-btn {
  background-color: #4f46e5;
  color: white;
}

.next-btn:disabled {
  background-color: #ccc;
  color: white;
}

.custom-label {
  display: block;
  font-size: 0.9rem;
  font-weight: 500;
  color: black;
}

.custom-input {
  display: block;
  margin-bottom: 1rem;
  padding: 0.375rem 0.75rem;
  width: 100%;
  border-radius: 0.5rem;
  border: 0;
  color: black;

  --ring-offset-width: 0px;
  --ring-offset-color: #fff;
  --ring-color: #D1D5DB;
  box-shadow: inset 0 0 0 calc(1px + var(--ring-offset-width)) var(--ring-color);
}

.custom-input:hover {
  --ring-color: #4F46E5;
  box-shadow: inset 0 0 0 calc(2px + var(--ring-offset-width)) var(--ring-color);
  outline: none;
}

.shadow-landing-reverse{
  box-shadow: inset 0px 1px 6px rgba(0, 0, 0, 0.1);
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url('https://www.kodalogic.com/k/apps/kodalogic_contents/images/mica-bg.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(60px);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background: #eaf1f9;
  backdrop-filter: blur(10px);
}

.shadow-panel {
  box-shadow: 
    0px 0px 2px rgba(0, 0, 0, 0.12),
    0px 1px 2px rgba(0, 0, 0, 0.14);
}

.page-content {
  position: relative;
  background-color: #fff;
  margin-top: 8rem;
  height: calc(100vh - 4rem);
  overflow-y: auto;
  padding-top: 0rem;
  padding-left: 0;
}

@media ( min-width: 768px ) {
  .page-content {
    padding-left: 16rem;
  }
}

#panel-sidebar {
  z-index: 100;
}

.white-svg i {
  color: white !important;
}

.text-i-2xl i {
  font-size: 1.5rem;
}

.tree-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  padding: 0.25rem;
}

.fc-event.selected-day {
  background-color: #007bff !important;
  border: none !important;
  color: #fff !important;
  font-weight: bold;
  text-align: center;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  line-height: 24px;
  margin: 2px auto;
  font-size: 16px;
}

.table-container {
  border-radius: 0.5rem;
  overflow: hidden;
  border: 1px solid #e4e7ec;
}

.table-ui {
  width: 100%;
  border-collapse: collapse;
  background: #ffffff;
}

.table-ui thead {
  background: #fafafa;
  border-bottom: 2px solid #e4e7ec;
}

.table-ui thead tr {
  text-align: left;
  font-size: 0.875rem;
  font-weight: 600;
  color: black;
}

.table-ui thead tr th {
  padding: 0.75rem 1rem;
  font-size: 0.75rem;
  color: #797e87;
}

.table-ui tbody tr {
  border-bottom: 1px solid #e4e7ec;
  transition: background 0.2s ease-in-out;
}

.table-ui tbody tr:hover {
  background: #f3f4f6;
}

.table-ui tbody tr td {
  max-height: 70px !important;
  padding: 0 1rem;
  height: 4rem;
  font-size: 0.875rem;
  color: #535862;
}

.table-ui tbody tr td img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.table-ui tbody tr td .status {
  font-size: 0.75rem;
  font-weight: 500;
  padding: 4px 8px;
  border-radius: 6px;
  display: inline-block;
}

.status.active {
  background: #e6f6e6;
  color: #027a48;
}

.table-ui tbody tr td .badge {
  font-size: 0.75rem;
  font-weight: 500;
  padding: 4px 8px;
  border-radius: 6px;
  display: inline-block;
  margin-right: 4px;
}

.badge.design {
  background: #ebe9fe;
  color: #6d5bff;
}

.badge.product {
  background: #e0f2fe;
  color: #027bc3;
}

.badge.marketing {
  background: #fdeff3;
  color: #d02670;
}

.badge.more {
  background: #f3f4f6;
  color: #475467;
}

.table-ui tbody tr td .actions {
  display: flex;
  gap: 8px;
  align-items: center;
}

.table-ui tbody tr td .actions button {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  color: #98a2b3;
  transition: color 0.2s;
}

.table-ui tbody tr td .actions button:hover {
  color: #344054;
}

/* Pagination */
.table-pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.table-pagination button {
  font-size: 0.875rem;
  color: #475467;
  background: #f3f4f6;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  transition: background 0.2s;
}

.table-pagination button:hover {
  background: #e4e7ec;
}

.table-pagination .pages {
  display: flex;
  gap: 8px;
}

.table-pagination .pages button {
  background: #f3f4f6;
  color: #475467;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  font-size: 0.875rem;
  transition: background 0.2s;
}

.table-pagination .pages button:hover {
  background: #e4e7ec;
}

.table-pagination .pages button.active {
  background: #6d5bff;
  color: white;
}

.icon-container {
  padding: 0.50rem !important;
}

.icon-container div, .icon-container a {
  transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
}

.icon-container:hover div, .icon-container:hover a {
  -webkit-transform: scale(1.1);
  transform: scale(1.1,1.1);
  -ms-transform: scale(1.1,1.1); /* IE 9 */
  -webkit-transform: scale(1.1,1.1); /* Safari and Chrome */
}

.icon-container div i, .icon-container a i {
  font-size: 1.5rem;
}

.px-4-imp {
  padding-left: 2rem !important;
  padding-right: 2rem !important;
}

.fc-toolbar-title {
  text-transform: capitalize;
}

.alert {
  transition: opacity 0.5s ease;
}

/* ---------------------------------------- */
/* POLARIS COMPONENTS                       */
/* ---------------------------------------- */

/* -------------------- POLARIS TABLE -------------------- */
.p-table {
  border-collapse: separate; /* Permite el border-radius */
  border-spacing: 0; /* Elimina separación entre celdas */
  border-radius: 12px;
  width: 100%;
  border: 1px solid #E9EAEB;
  margin-bottom: 1rem;
}

.p-table thead th,
.p-table tbody tr td {
  border-bottom: 1px solid #E9EAEB;
  font-size: var( --14px );
  text-align: left;
}

.p-table tbody tr:last-child td {
  border: 0;
}

.p-table thead th:first-child {
  border-top-left-radius: 10px !important;
}

.p-table thead th:last-child {
  border-top-right-radius: 10px !important;
}

.p-table thead th {
  border-radius: 0 !important;
  padding: 0.5rem 1rem;
  font-weight: normal;
  background-color: #FAFAFA;
}

.p-table tbody tr td {
  padding: 0.75rem 1rem;
}

.p-table thead th a {
  color: #717680;
  text-decoration: none;
}

.p-shadow {
  box-shadow: inset 0 #FAFAFA, 0 1px 4px 0 #0a0d120d;
}

.p-border {
  border: 1px #D5D7DA solid;
}

/* ------------------- POLARIS BUTTON/INPUT ------------------- */
.p-button,
.p-input,
.p-control {
  background-color: white;
  border: 1px #D5D7DA solid;
  padding: 8px 14px;
  border-radius: 8px;
  color: #414651;
  text-decoration: none;
  box-shadow: inset 0 -2px 0 0 #FAFAFA, 0 1px 2px 0 #0a0d120d;
  display: flex;
  gap: 0.25rem;
  transition: background-color 0.2s;
  font-size: var( --15px );
}

.p-button {
  padding: 8px 12px;
  font-size: var( --15px );
  text-align: center;
}

.p-button:hover,
.p-button:hover *,
.p-input:hover,
.p-input:hover * {
  background-color: #FAFAFA;
  color: #414651;
}

.p-button > i:first-child,
.p-input > i:first-child {
  margin-left: -4px;
}

.p-button > i:last-child,
.p-input > i:last-child {
  margin-right: -4px;
}

/* -------------------- POLARISK SELECT -------------------- */
.p-select {
  background-color: white;
  border: 1px solid #D5D7DA;
  border-radius: 8px;
  box-shadow: inset 0 -2px 0 0 #FAFAFA, 0 1px 2px 0 #0a0d120d;
  display: block;
  color: #414651;
  text-decoration: none;
  padding: 9.8px 14px;
  width: auto;
  font-size: var( --15px );
}

.p-select:hover {
  background-color: #FAFAFA;
}

/* -------------------- POLARIS CONTROL -------------------- */

.p-control {
  padding: 7.3px 14px;
  align-items: center;
}

/* Hover solo en el contenedor */
.p-control {
  transition: background-color 0.2s, color 0.2s;
}

.p-control:hover {
  background-color: #FAFAFA;
  color: #414651;
}

/* Que los hijos hereden sin su propia transición */
.p-control input {
  background-color: inherit;
  transition: none;
  outline: none;
}

.p-control > i {
  font-weight: 500;
  transition: none;
}

.p-control > i:first-child {
  margin-left: -4px;
}

.p-control > i:last-child {
  margin-right: -4px;
}

/* -------------------- POLARIS CARD -------------------- */
.p-card {
  background-color: white;
  border: 1px solid #D5D7DA;
  padding: 20px;
  border-radius: 8px;
  color: #414651;
  font-weight: 600;
  text-decoration: none;
  box-shadow: inset 0 -2px 0 0 #FAFAFA, 0 1px 2px 0 #0a0d120d;
}

/* -------------------- MINI COMPONENTS -------------------- */ 

.p-header {
  font-size: var( --24px );
  color: black;
  margin-bottom: 20px;
  font-weight: 600;
}

.p-block {
  background: #F6F6F6;
  padding: 20px 15px;
  margin-bottom: 20px;
  border-radius: 0.5rem;
}

.p-mini-block {
  background-color: white;
  border: 1px #D5D7DA solid;
  padding: 8px;
  border-radius: 8px;
  color: #414651;
  font-weight: 600;
  text-decoration: none;
  box-shadow: inset 0 -2px 0 0 #FAFAFA, 0 1px 2px 0 #0a0d120d;
}

.p-mini-icon {
  font-size: var( --24px ) !important;
}

.p-tag-blue,
.p-tag-green,
.p-tag-pink,
.p-tag-orange {
  padding: 4px 10px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  gap: 6px;
  width: fit-content;
}

.p-tag-blue {
  color: #175CD3;
  background-color: #eff8ff;
  border: 2px #B2DDFF solid;
}

.p-tag-green {
  color: #067647;
  background-color: #ABEFC6;
  border: 2px #ecfdf3 solid;
}

.p-tag-pink {
  color: #C11574;
  background-color: #FCCEEE;
  border: 2px #fdf2fa solid;
}

.p-tag-orange {
  color: #d37517;
  background-color: #ffd9b3;
  border: 2px #ffd9b3 solid;
}